* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toolbarSecondary {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.toolbarSecondary .item {
  padding: 0 2rem;
  font-size: medium;
}

.toolbarSecondary .item:hover {
  padding: 0 2rem;
  font-size: x-large;
  color: rgb(40, 203, 231);
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
}

.container .showcase img {
  width: 100%;
  height: 70vh;
}
