.container {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
}

.container:hover {
  cursor: pointer;
  opacity: 0.9;
}

.container img {
  width: 100%;
}

.content {
  padding: 10px;
}
